:root {
  --drawer-width: 255px;
  --primary-bg-color: #FBF7EF;
  --primary-text-color: #2C2E33;
  --footer-bg-color: #2C2E33;
  --footer-text-color: white;
  --active-nav-bg-color: #F0EDE6;
}

/* Drawer styling */
vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
  background: var(--primary-bg-color);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
  background: var(--primary-bg-color);
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
  background: var(--primary-bg-color);
}

/* Footer styling */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
  font-size: 16px;
  transition: left 0.2s, width 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--lumo-space-l);
}

.footer a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.drawer-open .footer {
  left: var(--drawer-width);
  width: calc(100% - var(--drawer-width));
}

/* Side navigation styling */
.side-nav {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-weight: bold;
}

/* Active navigation item styling */
.active-nav-item {
  background-color: var(--active-nav-bg-color);
  color: var(--primary-text-color);
  font-weight: bold;
  border-left: 4px solid var(--primary-text-color);
}
