vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
  background: #FBF7EF;
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
  background: #FBF7EF;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
  background: #FBF7EF;
}

.footer {
  width: 100vw;
  height: 100px;
  background-color: #2C2E33;
  color: black;
  text-align: center;
  font-size: 16px;
  bottom: 0;
  position: fixed;
}

.side-nav {
  background-color: #FBF7EF;
  color: #2C2E33;
  font-weight: bold;
}

.active-nav-item {
  background-color: #FBF7EF;
  color: #2C2E33;
  font-weight: bold;
}
